<section class="pp-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-header text-center">
            <h2 class="title">Select Your Favorite One</h2>
          </div>
        </div>
      </div>
      <div class="row plan-tables-1">
        <div class="col-lg-4 col-md-6">
          <div class="plan-style-1 plan-style-1-bg-blue">
            <form>
              <div class="plan-header">
                <h3 class="plan-title">SILVER</h3>
                <div class="plan-price">
                  <p class="price">
                    <span>$</span>
                    <span class="big-plan-price"id="basic_price">{{ basicPlanTotalPrice }}</span>
                    <span> / M</span>
                  </p>
                </div>
              </div>
              <ul class="plan-list">
                <li *ngFor="let basicPlan of basicPlanDetails">
                    <label class="checkbox-lable"> {{ basicPlan.size}}
                      <span class="tooltip-info">
                        <span class="tooltip-hover-text">{{ basicPlan.title}}</span>
                        <span class="tooltiptext">{{ basicPlan.text}}</span>
                      </span>
                      <span class="one_price" [ngClass]="basicPlan.isChecked ? '' : 'txt-light'">${{ basicPlan.value}}</span>
                      <input type="checkbox" class="checkbox_basic_1" id="domain_1" name="checkbox_basic_1" 
                      (change)="basicPlan.isChecked = !basicPlan.isChecked; calculatePlanPrice('basic', basicPlan.isChecked, basicPlan.value)">
                      <span class="checkmark"></span>
                    </label>
                  </li>
              </ul>
              <div class="plan-bottom">
                <a class="plan-button" href="#" id="basicSignup_1" [ngClass]="basicPlanTotalPrice == 0 ? 'btn-disable' : ''">Signup Now</a>
              </div>
            </form>
          </div>
  
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="plan-style-1 plan-style-1-bg-pink">
            <div class="plan-header">
              <h3 class="plan-title">GOLD</h3>
              <div class="plan-price">
                <p class="price">
                  <span>$</span>
                  <span class="big-plan-price" id="standard_price">{{ standardPlanTotalPrice }}</span>
                  <span>/ M</span></p>
              </div>
            </div>
            <ul class="plan-list">
              <li *ngFor="let standardPlan of standardPlanDetails">
                <label class="checkbox-lable"> {{standardPlan.size}}
                  <span class="tooltip-info">
                    <span class="tooltip-hover-text">{{ standardPlan.title }}</span>
                    <span class="tooltiptext">{{ standardPlan.text }}</span>
                  </span>
                  <span class="one_price" [ngClass]="standardPlan.isChecked ? '' : 'txt-light'">${{ standardPlan.value }}</span>
                  <input type="checkbox" class="checkbox_standerd_1" name="checkbox_standerd_1" 
                  value="{{standardPlan.value}}" (change)="standardPlan.isChecked = !standardPlan.isChecked; calculatePlanPrice('standard', standardPlan.isChecked, standardPlan.value)">
                  <span class="checkmark"></span>
                </label>
              </li>
            </ul>
            <div class="plan-bottom">
              <a class="plan-button" href="#" id="standardSignup_1" [ngClass]="standardPlanTotalPrice == 0 ? 'btn-disable' : ''">Signup Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="plan-style-1 plan-style-1-bg-purple">
            <div class="plan-header">
              <h3 class="plan-title">PLATINUM</h3>
              <div class="plan-price">
                <p class="price">
                  <span>$</span>
                  <span class="big-plan-price" id="premium_price"> {{ premiumPlanTotalPrice }} </span>
                  <span>/ M</span></p>
              </div>
            </div>
            <ul class="plan-list">
              <li *ngFor="let premiumPlan of premiumPlanDetails">
                <label class="checkbox-lable"> {{ premiumPlan.size }}
                  <span class="tooltip-info">
                    <span class="tooltip-hover-text"> {{ premiumPlan.title }} </span>
                    <span class="tooltiptext"> {{ premiumPlan.text }} </span>
                  </span>
                  <span class="one_price" [ngClass]="premiumPlan.isChecked ? '' : 'txt-light'">${{ premiumPlan.value }}</span>
                  <input type="checkbox" class="checkbox_premium_1" name="checkbox_premium_1" 
                  value="{{ premiumPlan.value }}"  (change)="premiumPlan.isChecked = !premiumPlan.isChecked; calculatePlanPrice('premium', premiumPlan.isChecked, premiumPlan.value)">
                  <span class="checkmark"></span>
                </label>
              </li>
            </ul>
            <div class="plan-bottom">
              <a class="plan-button" href="#" id="premiumSignup_1" [ngClass]="premiumPlanTotalPrice == 0 ? 'btn-disable' : ''">Signup Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>